<div th:fragment="head">
	<meta charset="UTF-8">
	<title>Title</title>
	<!-- dokumentacja ikonek dla boostrapa https://icons.getbootstrap.com/icons/search/ -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<style>
		.container { margin-top: 80px; margin-bottom: 120px; }
	</style>
</div>