<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head"></head>
<body>
	<div th:include="fragments/navbar::navbar1"></div>
	<div class="container">
		<table class="table table-striped table-bordered table-hover">
			<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>Cena</th>
				<th>Nazwa</th>
				<th>Waga</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="product: ${products}">
				<td th:text="${product.getId()}" />
				<td th:text="${product.getPrice()}" />
				<td th:text="${product.getName()}" />
				<td th:text="${product.getWeight()}" />
				<td>
					<a th:href="${'/mvc/product/' + product.getId()}">Szczegóły</a>
				</td>
			</tr>
			</tbody>
		</table>
		<a th:href="${'/mvc/product/add'}" class="btn btn-success float-right">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zM13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
			</svg>
			Dodaj nowy
		</a>
	</div>
	<div th:include="fragments/footer::footer1"></div>
	<div th:include="fragments/scripts::scripts1"></div>
</body>
</html>