<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head"></head>
<body>
	<div th:include="fragments/navbar::navbar1"></div>
	<div class="container">
		<form action="#" th:action="@{/mvc/user/save}" method="post" th:object="${user}">
			<div class="form-group">
				<label for="firstName">Imię</label>
				<input type="text" th:field="*{firstName}" placeholder="Wpisz imię..." th:classappend="${results == null ? '' : (results.hasFieldErrors('firstName') ? 'is-invalid' : 'is-valid')}" class="form-control" id="firstName">
			</div>
			<div class="alert alert-danger" th:if="${results != null && results.hasFieldErrors('firstName')}">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-frown-fill" viewBox="0 0 16 16">
					<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm-2.715 5.933a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z"/>
				</svg>
				<span th:text="${results.getFieldErrors('firstName').get(0).getDefaultMessage()}"></span>
			</div>
			<div class="form-group">
				<label for="lastName">Nazwisko</label>
				<input type="text" th:field="*{lastName}" placeholder="Wpisz nazwisko..." th:classappend="${results == null ? '' : (results.hasFieldErrors('lastName') ? 'is-invalid' : 'is-valid')}" class="form-control" id="lastName">
			</div>
			<div class="alert alert-danger" th:if="${results != null && results.hasFieldErrors('lastName')}">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-frown-fill" viewBox="0 0 16 16">
					<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm-2.715 5.933a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z"/>
				</svg>
				<span th:text="${results.getFieldErrors('lastName').get(0).getDefaultMessage()}"></span>
			</div>
			<div class="form-group">
				<label for="age">Wiek</label>
				<input type="number" th:field="*{age}" placeholder="Wpisz wiek..." th:classappend="${results == null ? '' : (results.hasFieldErrors('age') ? 'is-invalid' : 'is-valid')}" class="form-control" id="age">
			</div>
			<div class="alert alert-danger" th:if="${results != null && results.hasFieldErrors('age')}">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-frown-fill" viewBox="0 0 16 16">
					<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm-2.715 5.933a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z"/>
				</svg>
				<span th:text="${results.getFieldErrors('age').get(0).getDefaultMessage()}"></span>
			</div>
			<div class="form-group">
				<label for="city">Miasto</label>
				<input type="text" th:field="*{city}" placeholder="Wpisz miasto..." th:classappend="${results == null ? '' : (results.hasFieldErrors('city') ? 'is-invalid' : 'is-valid')}" class="form-control" id="city">
			</div>
			<div class="alert alert-danger" th:if="${results != null && results.hasFieldErrors('city')}">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-frown-fill" viewBox="0 0 16 16">
					<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm-2.715 5.933a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z"/>
				</svg>
				<span th:text="${results.getFieldErrors('city').get(0).getDefaultMessage()}"></span>
			</div>
			<button type="submit" class="btn btn-success">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zM13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
				</svg>
				Zapisz
			</button>
		</form>
	</div>
	<div th:include="fragments/footer::footer1"></div>
	<div th:include="fragments/scripts::scripts1"></div>
</body>
</html>